.advantages {
  padding: 30px 9% 0;
}

.advantages__title {
  .font(25, 700, 30);
  margin-bottom: 0;
  margin-top: 0;
}

.advantages__list {
  list-style: none;
  padding: 0;
}

.advantages__item {
  .font(17, 700, 20);
  position: relative;
}

.advantages__icon {
  position: absolute;
  fill: @teal;

  &--flower {
    left: 3%;
    top: 14px;
  }

  &--money {
    left: 0.5%;
    top: 16px;
  }

  &--heart {
    left: 3%;
    top: 21px;
  }

  &--ball {
    left: 1.5%;
    top: 20px;
  }

  &--rocket {
    left: -2%;
    top: 21px;
  }

  &--gift {
    left: 1.5%;
    top: 20px;
  }
}

.advantages__item-text {
  padding-top: 68px;
  padding-bottom: 15px;
  margin: 0;

  &--flower {
    width: 67%;
  }

  &--money {
    width: 85%;
  }

  &--heart {
    width: 70%;
  }

  &--ball {
    width: 80%;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 68px 6% 40px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% auto, auto;
  }

  .advantages__title {
    .font(43, 700, 50);
  }

  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .advantages__item {
    padding-left: 4px;
    width: 100%;
  }

  .advantages__item-text {
    .font(20, 700, 22);
    padding-top: 87px;
    padding-bottom: 25px;

    &--money {
      width: 75%;
    }
  }

  .advantages__icon {
    &--flower {
      top: 33px;
    }

    &--money {
      top: 33px;
    }

    &--heart {
      top: 37px;
    }

    &--ball {
      top: 36px;
    }

    &--rocket {
      left: -1%;
      top: 36px;
    }

    &--gift {
      top: 33px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    width: 1050px;
    padding: 88px 0 40px;
    margin: 0 auto;
  }

  .advantages__title {
    .font(53, 700, 57);
    margin-left: 16%;
  }

  .advantages__list {
    margin-left: 16%;
    margin-right: 16%;
  }

  .advantages__item {
    width: 90%;
  }

  .advantages__icon {
    &--flower {
      left: 5%;
    }

    &--money {
      left: 2%;
    }

    &--heart {
      left: 5%;
    }
  }
}
