.catalog__title {
  display: flex;
  align-items: center;
  justify-content: center;
  .font(27, 700, 30);
  background-color: @lightgrey;
  height: 177px;
  margin: 0;
}

.catalog__title-text {
  margin: 0;
  padding: 0;
}

.catalog__img {
  width: 100%;
  background-color: #ededed;

  img {
    margin: 0 auto;
    display: block;
    width: 260px;
    height: 195px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin-left: 9%;
  margin-right: 9%;
  margin-top: 30px;
  margin-bottom: 32px;
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid @lightgrey;
}

.catalog__item-link {
  text-decoration: none;
  width: 100%;
}

.catalog__item-description {
  .font(13, 400, 30);
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 1px solid @lightgrey;
}

.catalog__item-name {
  .font(17, 700, 24);
  margin: 0;
  margin-top: 25px;
  margin-bottom: 5px;
  color: black;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog__item-price {
  .font(15, 700, 24);
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-bottom: 27px;
}

.catalog__add-to-cart {
  fill: #231f20;
  opacity: 0.2;
  margin-top: 22px;

  &:hover {
    opacity: 1;
    fill: @teal;
  }

  &:active {
    opacity: 0.3;
    fill: @teal;
  }
}

.production__video {
  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .catalog__title {
    .font(43, 700, 50);
    height: 235px;
    background-image: url("../img/zigzag-fill-desktop.svg");
    background-position: bottom;
    background-repeat: repeat-x;
  }

  .catalog__list {
    position: relative;
    margin-top: 65px;
    margin-left: 6.5%;
    margin-right: 6.5%;
  }

  .catalog__img {
    width: 334px;

    img {
      width: 334px;
      height: 334px;
    }
  }

  .catalog__item-link {
    width: 100%;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 54px;
  }

  .catalog__item-name {
    .font(20, 700, 24);
    margin-top: 25px;
    margin-bottom: 7px;

    &--basket {
      width: 80%;
    }
  }

  .catalog__item-description {
    .font(15, 400, 30);
    border: none;
    // padding-bottom: 175px;
  }

  .catalog__item-price {
    .font(17, 700, 24);
    margin: 0;
    width: 50%;
  }

  .catalog__add-to-cart {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .catalog {
    width: 1150px;
    margin: 0 auto;
  }

  .catalog__title {
    height: 265px;
    .font(53, 700, 57);
  }

  .catalog__title-text {
    margin-bottom: 20px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    margin-top: 118px;
    margin-left: 4%;
    margin-right: 4.5%;
    margin-bottom: 5px;
    justify-content: space-between;
  }

  .catalog__item {
    flex-direction: column;
    width: 30%;
  }

  .catalog__img {
    width: 316px;

    img {
      width: 316px;
      height: 462px;
    }
  }

  .catalog__item-link {
    width: 64%;
  }

  .catalog__item-description {
    border: none;
    padding-bottom: 0;
  }

  .production__video {
    display: none;

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .catalog__item-price {
    margin: 0;
  }
}
