.footer {
  background-color: @lightgrey;
}

.social__list {
  display: flex;
  padding: 0;
  margin: 0 auto;
  height: 80px;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.social__link {
  display: block;
  .square(28px);

  &--twitter {
    background-image: url("../img/icon-twitter.svg");
    .background();
  }

  &--instagram {
    background-image: url("../img/icon-insta.svg");
    .background();
  }

  &--facebook {
    background-image: url("../img/icon-fb.svg");
    .background();
    margin-left: 30px;
    margin-right: 30px;
  }
}

.footer__copyright {
  .font(19, 700, 18);
  display: flex;
  padding: 0;
  margin: 0 auto;
  min-height: 80px;
  justify-content: center;
  align-items: center;
}

.footer__copyright-link {
  display: block;
  .square(34px);
  .background();
  background-image: url("../img/logo-htmlacademy.svg");
  margin-left: 25px;
}

.footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 50px;
  }

  .footer__logo {
    display: block;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
  }

  .footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
