.hot-items {
  padding-top: 30px;
}

.hot-items__title {
  color: black;
  .font(25, 700, 30);
  padding: 0;
  margin: 0;
}

.hot-items__link {
  color: @teal;
  .font(17, 700, 20);
  text-transform: uppercase;
  text-decoration: none;
}

.hot-items__description {
  color: @grey;
  .font(15, 400, 20);
}

.hot-items__table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

.hot-items__cell {
  color: @grey;
  .font(15, 400, 20);
  border-bottom: 1px solid @grey;
  height: 40px;

  &--left {
    width: 95px;
  }

  &--right {
    width: 165px;
  }
}

.hot-items__price {
  .font(17, 700, 24);
  text-align: center;
}
