.modal {
  padding-top: 30px;
  padding-bottom: 30px;
}

.modal__title {
  .font(25, 700, 30);
  width: 150px;
  text-align: center;
  margin: auto;
}

.modal__description {
  color: @grey;
  .font(15, 400, 30);
  text-align: center;
}

.modal__sizes-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
}

.modal__size {
  width: 80px;
  height: 50px;
  color: @grey;
  .font(17, 700, 16);
  border: 2px solid @grey;
}
