.production {
  padding-bottom: 57px;
  padding-left: 9%;
  padding-right: 10%;
}

.production__title {
  position: relative;
  .font(17, 700, 24);
  padding: 20px 13% 22px 35%;
  width: 52%;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icon-video.svg");
    .background();
    left: 13%;
    top: 36%;
  }
}

.production__video {
  position: relative;

  img {
    width: 260px;
    height: 150px;
  }
}

.production__video-btn {
  display: block;
  position: absolute;
  content: "";
  top: 26%;
  left: 32%;
  width: 101px;
  height: 77px;
  background-image: url("../img/icon-play.svg");
  z-index: 1;
  border: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
  }
}

.production__description {
  .font(13, 400, 24);
  margin: 25px 13%;
}

@media (min-width: @tablet-width) {
  .production {
    padding: 0 6.5% 63px;
  }

  .production__title {
    .font(20, 700, 24);
    padding: 30px 13% 22px 16%;

    &::after {
      left: 7%;
      top: 43%;
    }
  }

  .production__description {
    .font(15, 400, 30);
    margin: 10px 6% 37px;
  }

  .production__video {
    order: -1;

    img {
      width: 668px;
      height: 455px;
    }
  }
}

@media (min-width: @desktop-width) {
  .production {
    // padding: 0 2% 105px 62%;
    display: flex;
    justify-content: flex-end;
    // width: 33%;
    position: relative;
    width: 1050px;
    padding: 0 50px 102px;
    margin: 0 auto;
  }

  .production__title {
    width: 40%;
    padding: 0;

    &::after {
      left: 3px;
      top: -50px;
    }
  }

  .production__description {
    margin-left: 0;
    margin-top: 35px;
    margin-bottom: 45px;
  }

  .production__video {
    display: block;
    position: absolute;
    left: -184.5%;
    top: 0;

    img {
      width: 682px;
      height: 455px;
    }
  }

  .production__video-btn {
    left: -110%;
    top: 190px;
  }
}
