.promo {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-color: #f9f9f9;
  .background(center, -15px);
  background-size: 575px 373px;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    // background-size: 575px auto;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 489px;
  }
}

.promo__title {
  text-align: center;
  margin: 0;
  margin-bottom: auto;
}

.promo__title-text {
  display: block;
  color: black;
  .font(27, 700, 30);
  margin: 0 auto;
  margin-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
}

.promo__link {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  color: white;
  background-color: @teal;
  .font(19, 700, 24);
  text-decoration: none;
  min-height: 103px;
  flex-grow: 1;
  padding-left: 9%;
  padding-right: 10%;

  &--dark {
    background-color: #56c3b2;
    padding-right: 9%;
  }

  svg {
    padding-top: 21px;
    fill: #3bb09d;
  }

  &:hover {
    padding-bottom: 5px;
  }
}

.promo__link-text {
  padding-top: 25px;
  display: block;
  margin-right: 46px;
}

.promo__link:active .promo__link-text {
  opacity: 0.3;
}

.promo__link:active svg {
  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: url("../img/hero-tablet@1x.jpg");
    .background(top);
    background-size: 1150px 746px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }

    .container {
      height: 745px;
    }
  }

  .promo__title-text {
    .font(43, 700, 50);
    margin-top: 150px;
  }

  .promo__link {
    width: 30%;
    min-height: 120px;
    padding-left: 5%;
    padding-right: 5%;

    svg {
      padding-top: 30px;
    }
  }

  .promo__link-text {
    padding-top: 27px;
    .font(20, 700, 30);
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url("../img/hero-desktop@1x.jpg");
    .background(top);

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    .container {
      width: 1050px;
      margin: 0 auto;
    }
  }

  .promo__title {
    width: 100%;
  }

  .promo__link {
    width: 50%;
    padding-left: 3.5%;
    padding-right: 2.5%;

    &--dark {
      padding-right: 3%;
    }
  }

  .promo__link-text {
    width: 12%;
  }

  .promo__title-text {
    .font(53, 700, 57);
    margin-top: 155px;
  }
}
