.reviews {
  padding: 10px 0 55px; //10 9 50
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% auto, auto;

  .container {
    margin: 0 30px;
  }
}

.reviews__title {
  padding: 0;
  margin: 0;
  .font(25, 700, 30);
}

.reviews__item {
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 37px;
}

.reviews__text {
  .font(15, 400, 30);
  margin: 0;
  margin-bottom: 27px;
}

.reviews__author {
  margin-bottom: 30px; //25
}

.reviews__author-name {
  display: block;
  margin-bottom: 5px;
  .font(17, 700, 24);
  font-style: normal;
}

.reviews__author-mail {
  display: block;
  margin-bottom: 5px;
  .font(17, 400, 30);
  font-style: normal;
}

.reviews__nav {
  display: flex;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.reviews__previous {
  width: 128px;
  height: 50px;
  background-image: url("../img/icon-left-arrow.svg");
  .background();
  border: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.reviews__next {
  width: 128px;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  .background();
  border: 1px solid #ececec;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg"), url("../img/bg-zigzag-line.svg");
    background-position: left top, bottom;
    background-repeat: no-repeat, repeat-x;
    background-size: auto, auto 17px;
    padding: 75px 0 60px;
    // padding-left: 6.2%;
    // padding-right: 6.5%;
    // padding-top: 75px;
    // padding-bottom: 60px; //60px

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/review@2x.jpg"), url("../img/bg-zigzag-line.svg");
      background-size: 350px auto, auto;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 50px 0 45px;
    }
  }

  .reviews__text {
    .font(17, 400, 30);
    margin-bottom: 58px;
  }

  .reviews__title {
    .font(43, 700, 50);
    order: -2;
    margin-bottom: 50px;
    width: 50%;
  }

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
    margin-left: 5px;
  }

  .reviews__author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .reviews__author-name {
    // width: 100%;
    .font(18, 700, 24);
  }

  .reviews__nav {
    margin: 0;
    width: auto;
  }

  .reviews__previous {
    border: none;
    width: 85px;
    height: 60px;
  }

  .reviews__next {
    border: none;
    width: 90px;
    height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background-image: none, url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 1050px;
    background-position: bottom center;
    padding-top: 10px;
    padding-bottom: 93px;

    .container {
      background-image: url("../img/review@1x.jpg");
      background-position: 0 5px;
      background-repeat: no-repeat;
      background-size: 350px auto;
      padding-left: 170px;
      padding-top: 75px;
      padding-bottom: 20px;
      width: 880px;
      margin: 0 auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/review@2x.jpg");
        background-size: 350px auto;
      }
    }
  }

  .reviews__title {
    .font(53, 700, 57);
  }

  // .reviews__item {
  //   padding-left: 5px;
  // }

  .reviews__text {
    margin-bottom: 40px;
    width: 89%;
  }

  .reviews__author-name {
    .font(17, 700, 24);
  }
}
