.reviews {
  padding-top: 60px;
  padding-bottom: 50px;
}

.reviews__title {
  padding: 0;
  margin: 0;
  .font(25, 700, 30);
}

.reviews__item {
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 35px;
}

.reviews__text {
  .font(15, 400, 30);
  margin-bottom: 40px;
}

.reviews__author-name {
  .font(17, 700, 24);
  font-style: normal;
}

.reviews__author-mail {
  .font(17, 400, 30);
  font-style: normal;
}

.reviews__nav {
  display: flex;
  width: 260px;
  margin-bottom: 30px;
}

.reviews__previous {
  width: 128px;
  height: 50px;
  background-image: url("../img/icon-left-arrow.svg");
  .background();
  border: 1px solid #ececec;
}

.reviews__next {
  width: 128px;
  height: 50px;
  background-image: url("../img/icon-right-arrow.svg");
  .background();
  border: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .reviews {
    background-image: url("../img/review@1x.jpg");
    .background(100px, center);

    .container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .reviews__text {
    width: 680px;
    .font(17, 400, 30);
  }

  .reviews__title {
    order: -2;
  }

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .reviews__author {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .reviews__author-name {
    width: 335px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    background-image: none;

    .container {
      width: 785px;
      padding-left: 175px;
      background-image: url("../img/review@1x.jpg");
      .background(left, center);
    }
  }
}
